<% include partials/header %>


<div style="margin-top:100px">
    <h1 style="text-align:center;color:aqua;background-color:black;font-weight:bold;border:solid 2px white;padding-top:10px;padding-bottom:10px">Guidance</h1>
</div>
<div class="well" style="margin-top:70px;">
    <ul  style="text-align:center;list-style-type:none">
        <li><strong><h2>CSE Theory Subjects</h2></strong>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a  style="color:black"href="https://www.geeksforgeeks.org/data-structures/">Data Structure</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a  style="color:black"href="https://www.geeksforgeeks.org/computer-network-tutorials/">Networking</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a style="color:black"href="https://www.geeksforgeeks.org/operating-systems/">Operating System</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a style="color:black" href="https://www.geeksforgeeks.org/compiler-design-tutorials/">DBMS</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a  style="color:black"href="https://www.geeksforgeeks.org/compiler-design-tutorials/">Compiler</a>
        </button>
        <br>
        <br>
        </li>
        <li>
            <strong> <h2>Online courses</h2> </strong>
            <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a style="color:black" href="https://in.udacity.com/">Udacity</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a  style="color:black"href="https://www.coursera.org/">Coursera</a>
        </button>
        <br>
        <br>
        <button class="btn btn-info"style="margin-top:10px;width:500px;">
            <a  style="color:black"href="https://www.udemy.com/">Udemy</a>
        </button>
        <br>
        <br>
        </li>
    </ul>
</div>







<% include partials/footer %>